* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(33,33,33);
    color: white;
    width: 1080px;
    max-width: 90vw;
    height: 720px;
    max-height: 90vh;
    margin: auto;
    /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
h2 {
    padding-top: 8px;
}
.head {
    display: flex;
    justify-content: space-between;
    line-height: 8vh;
    vertical-align: middle;
}
.playAgain:hover {
    text-decoration: underline;
    color: lightblue;
    cursor: pointer;
}
#activity {
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.row {
    display: flex;
    width: 100%;
    justify-content: center;
}
.card {
    font-size: 4em;
    margin: 8px;
    border: 1px solid blue;
    border-radius: 8px;
    width: 150px;
    max-width: 20vw;
    height: 150px;
    max-height: 20vw;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: transparent;
    perspective: 1000px;
}
.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover .cardInner {
    /* transform: rotateY(180deg); */
    cursor: pointer;
}
.cardFront, .cardBack {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.cardFrontFlipped, .cardBackFlipped {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.cardFront {
    background-color: snow;
    color: rgba(0,0,0,.5);
    transform: rotateY(0deg);
}
.cardFrontFlipped {
    transform: rotateY(180deg);
}
.cardBack {
    background-color: darkblue;
    color: white;
    transform: rotateY(180deg);
}
.cardBackFlipped {
    transform: rotateY(0deg);
}
.card img {
    width: 100%;
}

/* MODAL */
.modal {
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    width: 33vw;
    max-height: 33vw;
    text-align: center;
    line-height: 8vh;
}
.modal::backdrop {
    background: linear-gradient(rgb(33,33,33), rgb(11,11,11));
    opacity: .5;
}
.modal_btn {
    text-align: center;
}
.modal button {
    background-color: #243763;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin: 4px;
    width: 80%;
    align-items: center;
}
.modal button:hover {
    background-color: #172035;
    color: white;
    cursor: pointer;
}
#selectCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#selectCategory div {
    border: 2px solid #243763;
    color: #243763;
    border-radius: 4px;
    line-height: 36px;
    vertical-align: center;
    background-color: rgba(0,0,0,0.1);
    width: 80%;
    margin: 8px;
}
#selectCategory div:hover {
    cursor: pointer;
    background-color: lightblue;
}
#selectCategory button {
    width: 80%;
    margin: 8px;
}

@media all and (max-width: 600px) {
    .card {
        font-size: 2.25em;
    }
}

@media all and (max-width: 550px) {
    .card {
        font-size: 2em;
    }
}

@media all and (max-width: 540px) and (max-height: 720px) {
    .card {
        font-size: 2.5em;
    }
}

@media all and (max-width: 324px) {
    .card {
        font-size: 1.5em;
    }
}